*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#212529;
    font-family: sans-serif;
    background-repeat: no-repeat;
    color: ivory;
    background-size: cover;
}

.container{
    margin: 0 auto;
    max-width: 96%;
}
.navbar{
    padding-bottom: 25px;
}
/* name area start */
.title{
    font-size: 80px;
    font-family: "Cormorant Garamond" serif;

}
.title-2{
    font-size: 85px;
    font-family: "Cormorant Garamond" serif;

}
.detail{
    font-family: "Cormorant Garamond" serif;
    font-size: 22px;
    font-weight: 500px;
  
}
.section-1{
    padding-top: 60px;
    padding-bottom: 50px;
}
.btn{
    background-color: #212529;
    color: ivory;
    border: #ffff;
    border-radius: 8px;
}
/* name area end */

/* about me start */
.about{
    padding-top: 10px;
    margin-left: 10rem;
    border-radius: 10px;
    width: 1000px;
    text-align: center;
    background-color:rgb(76, 75, 61);
}
/* skill area start */
.Service{
    padding-top: 70px;
    padding-bottom: 30px;
}
.Service h3{
    font-size: 20px;
    padding-top: 30px;
    color: lightslategrey;
}
.Service h1{
    padding-top: 25px;
    font-family: "Cormorant Garamond" serif;
}
.title-3{
    padding-top:20px;
}
.development{
    padding-top: 60px;
}

.text-center{
    padding-top: 40px;
}
.skill{
    padding-top: 15px;
    
}
/* skill area end */
/* portfolio area start */
.Portfolio{
    padding: 80px;
    max-width: 96%;
    text-align:center;
}

.awesome{
    font-size: 20px;
    color: lightslategrey;
}

.icons a{
    font-size: 30px;
    gap: 10px;
    
}
/* portfolio area end */

.project{
    height: 190px;
}
.get{
    text-align: center;
    padding-top: 40px;
}
.gets{
    font-size: 20px;
    color: lightslategrey;  
}
.special{
    padding-top: 50px;
}
.bar{
    color: #ffff;
    background-color: #212529;
}
.progress{
    margin-bottom: 5px;
    gap: 5px;
}
.Skill{
    font-size: 20px;
    color: lightslategrey;   
}
.CONTACTS{
    padding-top: 50px;
}
.form-control{
    margin: 0 300px 0 300px;
    width: 600px;
}
.sub-button{
    padding-top: 50px;
}







@media screen and (max-width: 1024px) {
  .about{
    width: 940px;
  }
  .form-control{
    width: 500px;
  }    
}

@media screen and (max-width: 768px) {
    .about{
        width: 640px;
      }
      .form-control{
        width: 400px;
        margin-left: 10rem;
      }
}

@media screen and (max-width: 425px) {
    .about{
        width: 240px;
      }
      .form-control{
        width: 200px;
      }
    


    
    
}




